.container-column {
    background: #EEF2F6;
    border-radius: 21px;
}

.button {
    /* Main */
    background: #285073;
    border-radius: 8px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
}

.link {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    
    
    color: #999C9F;
}

.heading1 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 1.2px;
    
    color: #565656;
}

.message {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* or 150% */
    
    text-align: center;
    letter-spacing: 1.2px;
    
    color: #565656;
}