.login-container {
    background: #EEF2F6;
    border-radius: 21px;
    box-sizing: border-radius;
    z-index: 999;
}

.heading1 {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 1.2px;
    
    color: #565656;
}

.login-textbox {
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(33, 64, 91, 0.08);
    border-radius: 8px;
}

.login-password {
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(33, 64, 91, 0.08);
    border-radius: 8px;
}

.show-password {
    position: absolute;
    top: 13px;
    right: 15px;
    bottom: 21px;
}

.button {
    background: #285073;
    border-radius: 8px;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.sub-button {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #285073;
    cursor:pointer;
}

.footer {
    bottom: 0px;
    left: 0px;
    position: fixed;
}

.header {
    top: 0px;
    right: 0px;
    position: fixed;
}

.middle {
    top: 10em;
}